.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: transparent;
    position: sticky;
    top: 50px;
}
.sidebarWrapper{
    padding: 20px;
    color: #555;
}
.sidebarMenu{
    margin-bottom: 5px;
}
.sidebarTitle{
    font-size: 10px;
    color: rgb(187, 186, 186);
}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidebarListItem a{
    font-size: 12px;
}
.sidebarListItem.active,
.sidebarListItem.hover{
    background-color: rgb(231, 231, 231);
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 15px !important;

}


@media screen and (max-width: 768px) {
    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 5000;
      }
      
      .menu ul {
        width: 100%;
        position: absolute;
        /* top: 20px; */
        /* transform: translateY(-50%); */
        transform: translateY(20%);
        text-align: center;
        list-style: none;
        color: white;
      }
      
      .menu ul li {
        color: #fff;
        font-size: 20px;
        margin: 0px 0;
      }
      
      .menu .cancel-button {
        position: fixed;
        left: 8px;
        top: 8px;
        color: #fff;
        font-size: 16px;
        padding: 8px;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        z-index: 1;
      }
      
      .cancel-button:hover {
        color: rgba(255, 255, 255, 0.8);
      }
      
  }